*{
	font-family: Arial, Helvetica, sans-serif, cursive;

}
html{
	text-align: center;
	background-color: #cad3e6;
	font-family: sans-serif;
}

body{
	width: 100%;
	text-align: center;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

span{
	color: red;
}

form{
	display: block;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;	
	background-color: white;
	width: 50%;
	border:1px solid dark-gray; 
	border-radius: 10px;
	display: inline-block;
	box-shadow: 0px 0px 5px 3px #a8a8a8;
}

fieldset{
	border: none;
	margin: 1em;
}

input#password, input#userName, input#name{
	background-color: white;
	border:1px solid #ccc; 
	border-radius: 5px;
	height: 5%;
	width: 30%;
}

img {
	text-align: left;
	margin: none;
}

#form {
	text-align: center;
	margin: none;
	
}


input.button{
	color: white;
	background-color: #4a86ff;
	border:1px solid #ccc; 
	border-radius: 5px;
	height: 7%;
	width: 20%;
	margin: 1em;
}

input.button:hover{
    background-color: #216bff;
}

input[type=submit]{
	color: white;
	background-color: #4a86ff;
	border:1px solid #ccc; 
	border-radius: 5px;
	height: 7%;
	width: 20%;
	margin: 1em;
}
input[type=submit]:hover{
	background-color: #216bff;
}
.select-wrap
{
     position: relative;
     box-sizing: border-box;
     width: 260px;
     overflow: hidden;
}
.select-box
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     width: 260px;
     padding: 9px 9px 11px 13px;
     background-color: rgb(194, 193, 193);
     border: none;
     border-radius: 3px;
     outline: none;
     font: 15px 'Open Sans', sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     color: #fff;
	 cursor: pointer;

	 
}
.select-point
{
     position: absolute;
     top: 8px;
     right: 13px;
     font: 16px 'Open Sans', sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     color: #666;
}
select:-moz-focusring
{
     color: transparent;
     text-shadow: 0 0 0 #000;
}
#container{
	width: 300px;
	padding-left: 13em;
}